node_modules

.mf
/.cache
/build
/public/build
/public/_worker*

/app/tailwind.css

/server-build
node_modules

/.cache
/build
/public/build
/app/styles/app.css
.env

.vercel
.output
api/build
tests/state.json
sendgrid.env
